# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OS files
.DS_Store
maps/.DS_Store

# Binary
main

# Kattis
.kattisrc
submit.py
submit.sh

# maps and visualizer files
Path.txt

