# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#  System specific files
.DS_Store

# binary files
main
*.out

# Solution file
Path.txt

# Kattis files
.kattisrc
submit.py

# scripts
compileAndRun.sh
